# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
stubs/*
!stubs/.gitkeep
data/*
!data/.gitkeep
tetris/

# due to using tox and pytest
.tox
.cache

# Mac stuff
.DS_Store
.ipynb_checkpoints
notebook
