black==24.10.0
build==1.2.2.post1
click==8.1.7
mypy==1.13.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pyproject_hooks==1.2.0
ruff==0.7.1
tomli==2.0.2
types-mock==5.1.0.20240425
